{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>Факультеты</h1>
        <a class="btn btn-primary my-3" href="{{ url_for('main.create_faculty') }}" role="button">
            Создать факультет
        </a>
        <a class="btn btn-primary my-3" href="{{ url_for('main.faculty_report') }}" role="button">
            Отчет по факультету
        </a>
        <a class="btn btn-primary my-3" href="{{ url_for('main.departments_report') }}" role="button">
            Отчет по кафедрам факультета
        </a>
        <br>
        <table id="faculties-table" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th> </th>
                    <th> Название </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for faculty in faculties %}
                    <tr id="faculty-{{ faculty.id }}">
                        <td></td>
                        <td>{{faculty.name}}</td>
                        <td>
                            <a class="btn btn-sm btn-secondary" href="{{ url_for('main.edit_faculty', faculty_id=faculty.id) }}" role="button">Редактировать</a>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm delete-btn" 
                                    data-item-id="{{ faculty.id }}">
                                Удалить
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            let itemToDelete = null;
            
            $('.delete-btn').click(function() {
                itemToDelete = $(this).data('item-id');
                $('#confirmModal').modal('show');
            });

            const csrf_token = document.querySelector('meta[name="csrf-token"]').content;
            
            $('#confirmDelete').click(function() {
                if (itemToDelete) {
                    $.ajax({
                        url: '/faculties/delete/' + itemToDelete,
                        method: 'DELETE',
                        headers: {
                            "Content-Type": "application/json",
                            "X-CSRFToken": csrf_token,
                        },
                        success: function(response) {
                            if (response.success) {
                                $('#faculty-' + itemToDelete).remove();
                                alert('Факультет успешно удален');
                            }
                        },
                        error: function() {
                            alert('Ошибка при удалении');
                        },
                        complete: function() {
                            $('#confirmModal').modal('hide');
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}
