<!doctype html>
<html>
    <head>
        {% if title %}
            <title>{{ title }} - Университет</title>
        {% else %}
            <title>Добро пожаловать в Университет </title>
        {% endif %}
    </head>
    <body>
        <div>Университет: <a href="{{ url_for('index') }}">Главная</a> <a href="{{ url_for('login') }}">Вход</a></div>
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>